<mat-card>
  <mat-toolbar>
    Lista de Empresas
    <span class="example-spacer"></span>
    <button mat-button color="primary" (click)="addNewCompany()">Adicionar Empresa</button>
  </mat-toolbar>

  <div *ngIf="companies | async; else loading">
    <table mat-table [dataSource]="companies" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Trading Name Column -->
      <ng-container matColumnDef="trading_name">
        <th mat-header-cell *matHeaderCellDef>Razão Social</th>
        <td mat-cell *matCellDef="let company"> {{company.trading_name}} </td>
      </ng-container>

      <!-- Fantasy Name Column -->
      <ng-container matColumnDef="fantasy_name">
        <th mat-header-cell *matHeaderCellDef> Nome Fantasia </th>
        <td mat-cell *matCellDef="let company"> {{company.fantasy_name}} </td>
      </ng-container>

      <!-- Cnpj Column -->
      <ng-container matColumnDef="cnpj">
        <th mat-header-cell *matHeaderCellDef> CNPJ </th>
        <td mat-cell *matCellDef="let company"> {{company.cnpj}} </td>
      </ng-container>

      <!-- Cnpj Column -->
      <ng-container matColumnDef="accountable_name">
        <th mat-header-cell *matHeaderCellDef> Nome do Responsável </th>
        <td mat-cell *matCellDef="let company"> {{company?.accountable?.name}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let company">
          <button mat-raised-button color="primary" (click)="openDialog('Editar',company)">Editar</button>
          <button mat-raised-button color="primary" (click)="openDialog('Deletar',company)">Excluir</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <ng-template #loading>
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</mat-card>

