<h1 mat-dialog-title>Cadastrar Responsável</h1>
<div mat-dialog-content>
  <form class="form-information" [formGroup]="liveForm">
    <mat-form-field class="form-information-full-width">
      <mat-label>Nome Completo</mat-label>
      <input matInput formControlName="name" name="name">
    </mat-form-field>

    <mat-form-field class="form-information-full-width">
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="email" name="email">
    </mat-form-field>

    <mat-form-field class="form-information-full-width">
      <mat-label>CPF</mat-label>
      <input matInput formControlName="cpf" name="cpf">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="addNewAccountable()">Salvar</button>
  <button mat-button (click)="cancel()">Cancelar</button>
</div>
