<h1 mat-dialog-title>Cadastrar Empresa</h1>
<div mat-dialog-content>
  <form class="form-information" [formGroup]="liveForm">
    <mat-form-field class="form-information-full-width">
      <mat-label>Razão Social</mat-label>
      <input matInput formControlName="trading_name" name="trading_name">
    </mat-form-field>

    <mat-form-field class="form-information-full-width">
      <mat-label>Nome Fantasia</mat-label>
      <input matInput formControlName="fantasy_name" name="fantasy_name">
    </mat-form-field>

    <mat-form-field class="form-information-full-width">
      <mat-label>CNPJ</mat-label>
      <input matInput formControlName="cnpj" name="cnpj">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Selecione o Responsável</mat-label>
      <mat-select matInput formControlName="id_accountable" name="id_accountable">
        <mat-option *ngFor="let account of accountable | async" [value]="account.id">
          {{account.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button class="btn" mat-raised-button color="primary" (click)="addNewCompany()">Salvar</button>
  <button class="btn" mat-button (click)="cancel()">Cancelar</button>
</div>
