table {
  width: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}

.loading-spinner{
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}
