<mat-card>
  <mat-toolbar>
    Lista de Responsáveis
    <span class="example-spacer"></span>
    <button mat-button color="primary" (click)="addNewAccountable()">Adicionar Responsável</button>
  </mat-toolbar>

  <div *ngIf="accountable | async; else loading">
    <table mat-table [dataSource]="accountable" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nome Completo</th>
        <td mat-cell *matCellDef="let accountable"> {{accountable.name}} </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> E-mail </th>
        <td mat-cell *matCellDef="let accountable"> {{accountable.email}} </td>
      </ng-container>

      <!-- Cpf Column -->
      <ng-container matColumnDef="cpf">
        <th mat-header-cell *matHeaderCellDef> CPF </th>
        <td mat-cell *matCellDef="let accountable"> {{accountable.cpf}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let accountable">
          <button mat-raised-button color="primary" (click)="openDialog('Editar',accountable)">Editar</button>
          <button mat-raised-button color="primary" (click)="openDialog('Deletar',accountable)">Excluir</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <ng-template #loading>
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</mat-card>

