<mat-toolbar color="primary" class="toolbar">
  <span>Cadastro de Dados</span>
  <div>
    <button class="btn-toolbar" mat-button color="warn"><a routerLink="/companies"> Empresas</a></button>
    <button class="btn-toolbar" mat-button><a routerLink="/accountable"> Responsáveis</a></button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
