a{
  text-decoration: none;
  color: #2196f3;
}

.toolbar{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
}

.btn-toolbar{
  background-color: #ffffff;
  margin-right: 10px;
}

