<h1 mat-dialog-title>{{action}} Empresa</h1>
<div mat-dialog-content>
  <div class="form-information" *ngIf="action != 'Deletar'; else elseTemplate">
    <mat-form-field class="form-information-full-width">
      <input placeholder="Razão Social" matInput [(ngModel)]="local_data.trading_name">
    </mat-form-field>
    <mat-form-field class="form-information-full-width">
      <input placeholder="Nome Fantasia" matInput [(ngModel)]="local_data.fantasy_name">
    </mat-form-field>
    <mat-form-field class="form-information-full-width">
      <input placeholder="CNPJ" matInput [(ngModel)]="local_data.cnpj">
    </mat-form-field>
  </div>
  <ng-template #elseTemplate>
    Deseja deletar <b>{{local_data.trading_name}}</b>?
  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancelar</button>
</div>
