<h1 mat-dialog-title>{{action}} Empresa</h1>
<div mat-dialog-content>
  <div class="form-information" *ngIf="action != 'Deletar'; else elseTemplate">
    <mat-form-field class="form-information-full-width">
      <input placeholder="Razão Socia" matInput [(ngModel)]="local_data.name">
    </mat-form-field>
    <mat-form-field class="form-information-full-width">
      <input placeholder="E-mail" matInput [(ngModel)]="local_data.email">
    </mat-form-field>
    <mat-form-field class="form-information-full-width">
      <input placeholder="CPF" matInput [(ngModel)]="local_data.cpf">
    </mat-form-field>
  </div>
  <ng-template #elseTemplate>
    Deseja deletar <b>{{local_data.name}}</b>?
  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancelar</button>
</div>
